<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Customers</title>
    <link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/customers.css" rel="stylesheet"/>
</head>
<body>

    <div class="container">
        <h1>Customers</h1>
        <main id="app">
            <router-view></router-view>
        </main>
    </div>

    <template id="customer-list">
        <div>
            <div class="actions">
                <a class="btn btn-default">
                    <router-link :to="{path: '/add-customer'}">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add
                    </router-link>
                </a>
            </div>
            <div class="filters row">
                <div class="form-group">
                    <input placeholder="Search" v-model="searchKey" class="form-control" id="search-element" required/>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th class="col-sm-2"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="customer in filteredCustomers">
                    <td>
                        <a>
                            <router-link :to="{name: 'customer', params: {customer_id: customer.id}}">{{ customer.firstName }}</router-link>
                        </a>
                    </td>
                    <td>{{ customer.lastName }}</td>
                    <td>{{ customer.email }}</td>
                    <td class="btn-actions">
                        <a class="btn btn-info btn-xs">
                            <router-link :to="{name: 'customer-edit', params: {customer_id: customer.id}}">Edit</router-link>
                        </a>
                        <a class="btn btn-default btn-xs">
                            <router-link :to="{name: 'customer-delete', params: {customer_id: customer.id}}">Delete</router-link>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </template>

    <template id="customer">
        <div>
            <b>First Name</b>
            <div>{{ customer.firstName }}</div>
            <b>Last name: </b>
            <div>{{ customer.lastName }}</div>
            <b>Email:</b>
            <div>{{ customer.email }}</div>
            <br/>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <a>
                <router-link to="/">Back to the list</router-link>
            </a>
        </div>
    </template>

<template id="add-customer">
    <div>
        <h2>Add new</h2>
        <form @submit="createCustomer">
            <div class="form-group">
                <label for="add-first-name">First Name</label>
                <input class="form-control" id="add-first-name" v-model="customer.firstName" required/>
            </div>
            <div class="form-group">
                <label for="add-last-name">Last Name</label>
                <input class="form-control" id="add-last-name" v-model="customer.lastName" required/>
            </div>
            <div class="form-group">
                <label for="add-email">Email</label>
                <input class="form-control" id="add-email" v-model="customer.email" required/>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn btn-default">
                <router-link to="/">Cancel</router-link>
            </a>
        </form>
    </div>
</template>

<template id="customer-edit">
    <div>
        <h2>Edit</h2>
        <form @submit="updateCustomer">
            <div class="form-group">
                <label for="edit-first-name">First Name</label>
                <input class="form-control" id="edit-first-name" v-model="customer.firstName" required/>
            </div>
            <div class="form-group">
                <label for="edit-last-name">Last Name</label>
                <input class="form-control" id="edit-last-name" v-model="customer.lastName" required/>
            </div>
            <div class="form-group">
                <label for="edit-email">Email</label>
                <input class="form-control" id="edit-email" v-model="customer.email" required/>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-default">
                <router-link to="/">Cancel</router-link>
            </a>
        </form>
    </div>
</template>

<template id="customer-delete">
    <div>
        <h2>Delete {{ customer.firstName }}?</h2>
        <form @submit="deleteCustomer">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-default">
                <router-link to="/">Cancel</router-link>
            </a>
        </form>
    </div>
</template>

<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<script src="/customers.js"></script>

</body>
</html>